.p-page.login
  .u-icon-back
    position absolute
    left 10px
    top 10px
    font-size 20px
  .title
    color g-color
    text-align center
    font-size 32px
    line-height 44px
  .btns
    margin-top 80px
    text-align center
  .u-right-router
    position absolute
    right 20px
    top 16px
    color g-color
  .btns button{
    margin 0 4px
    font-size 16px
    padding 4px 0
  }
  .btns button.active
    color g-color
    border-bottom 2px solid g-color

  .m-form
    margin 20px
    padding 20px
  .list
    position relative
    margin-bottom 16px
    .iconfont
      position absolute
      right: 8px
      top: 6px
      color g-color
      font-size 30px
  .u-input
    display block
    width 100%
    height 42px
    border-radius 4px
    padding 0 120px 0 10px
    box-sizing border-box
    border 1px solid #ddd
    font-size 14px
    background #fff
    appearance none
    &:focus
      border-color g-color

  .u-btn-getcode,
  .show-countdown
    position absolute
    right 10px
    top 10px
    color g-color
    &[disabled]
      color #888
  .u-btn
    background g-color
    color #fff
    text-align center
    padding 10px 0
    border-radius 4px
    &.block
      display block
      width 100%
      font-size 16px
    &[disabled]
      background #ccc
